<!--Generate component by command :- ng generate component user-list    or    ng g c user-list    -->

<h1> *ngSwitch :- It is used to check multiple condition</h1>

<div [ngSwitch]='color'>
  <h2 *ngSwitchCase="'red'" style='color:red'>red color</h2>
  <h2 *ngSwitchCase="'blue'" style='color:blue'>red color</h2>
  <h2 *ngSwitchCase="'green'" style='color:green'>red color</h2>
  <h2 *ngSwitchCase="'orange'" style='color:orange'>red color</h2>
  <h2 *ngSwitchDefault="'yellow'" style='color:yellow'>red color</h2>

</div>

